DEF

<div class="sparks show">
  Connected: <%= @core_info["connected"] %><br/>
  Last heard: <%= time_format(@core_info["last_heard"]) %><br/>
  Temperature: <%= @temperature %> F<br/>
  Color: <span class="color <%= @color %>"></span><br/>
  <br/>
  <%= form_tag sparks_path, method: :patch do %>
    <%= hidden_field_tag :status, 'wakeUp' %>
    <%= submit_tag 'Wake Up', class: 'btn btn-large' %>
  <% end %>

  <%= form_tag sparks_path, method: :patch do %>
    <%= hidden_field_tag :status, 'sleep' %>
    <%= submit_tag 'Sleep', class: 'btn btn-large' %>
  <% end %>
</div>
